
h1{
color:rgb(0, 0, 0);
font-size: 200%;
text-align: center;
}
h2{
  color:rgb(0, 0, 0);
  font-size: 150%;
  text-align: center;
}
p {
    color: rgb(24, 0, 14);
    width: 500px;
    font-size: 100%;
  }
 body{

  background-color: aqua;
 }
th{
  background-color: rosybrown; 
  text-align: center;
}
td{
  text-align: justify;
  padding: 50px;
  margin: 50%;
  border: 10cm;
}
table{
background-color: antiquewhite;
  text-align: center;
  size: 100%;
}


.img1{

width: 15%;
height: 15%;
}
.img2{
 padding-left: 65%;
  width: 15%;
  height: 30%;
  
}

.th{
  background-color: antiquewhite;
  text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 50%;
  height: 5%;
  
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: ':]';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}